# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt

# Database
data/
*.db
*.sqlite
*.sqlite3

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
*.swp
*.swo
*~